@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.loginbody {

  padding-bottom: 40px;
  background-color: #eee;
  display: grid;
  grid-template-rows: 25% auto 25%;

}
#logingTxt{
  margin: 20px;
}
#logingButton{
  margin: 40px;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../img/cesar-couto-423267-unsplash.jpg');
  background-repeat:repeat;
}
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
    margin-top:00px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 30px;
  margin-top: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
  
.form-signin-heading {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
div.rowlg {
  background-color: rgba(255, 255, 255, 0.65);
  

   /* background-color: #007fa3; */
  border-radius: 20px;
  padding: 50px;
  margin: auto;


  width:380px;
  height: 530px;
  margin-top: 50px;
  
    }
    .topic{
      /* margin-inline-start: 100px; */
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 200;
      position: relative;
      padding: 10px;
      font-size: 3.7em;
      /* background-color: #fff; */
      text-align: center;
      
    }
    .forgot{
      display: inline;
    }
    .register{
      
      display: inline;
    }
    .forgot:hover{

      -moz-font-feature-settings: "swsh";
      -webkit-animation: 50ms;
      color:slategrey;
    }
   
    .register:hover{

      -moz-font-feature-settings: "swsh";
      -webkit-animation: 28ms;
      color:slategrey;
    }
    .divider {
      display: inline;

 border-left: 2px solid slategray;
 
    margin: 20px;
    }
    .login-error{
      font-size: 1.5em;
      color: crimson;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 9px;
  text-align: center;
    }

    .big-wrapper{
      height: 800px;
      width: 60%;
      align-content: center;
      background-color:rgba(255, 255, 255, 0.164);
      margin: 0 auto;
      padding: 30px;
      margin-top: 20px;
      border-radius: 100px;
    }

