
#movecol{
    margin: 0 auto;
    
  }

.text_field_container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin:1px auto; */
    width: 100%;
    /* padding: 15px; */
    
}
.text_feild_items{
  width: 100%;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;

    padding:0%;
 
  
}
.card-title-description{

    margin:10px;
    padding:10px;
}
 .beutyButDiv{
    display: inline-flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin: 29px ;
    flex-wrap: wrap;
    padding: 20px;
    
    
} 
.beutyButDivUpper{
    display: inline-flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin: 20px ;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    padding: 20px;
    
}

.btn_wizard{
    display: block;
float: right;
    margin-top: 20px ;
  
    padding: 1px;
    
}
#shared{
    
    margin-right: 100px;

}
#home-wrapper{
    margin: 20px;
    padding: 20px;
    display:flex;
    justify-content:space-evenly;
    flex-flow:wrap;


}

.beutyButDiv_home{
    display: inline-flex;
    /* flex-direction:column; */
    /* align-items:center; */
    justify-content:center;
    margin: 10px ;
    flex-wrap: wrap;
    padding: 15px;
    font-size: 1em;
    font-family: '-apple-system',
    'BlinkMacSystemFont',
    '"Segoe UI"',
    'Roboto',
    '"Helvetica Neue"',
    'Arial',
    'sans-serif',
    '"Apple Color Emoji"',
    '"Segoe UI Emoji"',
    '"Segoe UI Symbol"',;
    /* background-color: blue; */
    height: 170px;
    width: 180px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
.beutyButDiv_home:hover{
    
    /* background-color:rgba(0, 0, 0, 0.596); */
    /* border: 0.7px solid #BFBFBF; */
    text-decoration: none;
    box-shadow: 6px 6px 3px  #888585;
    
  
}

/* for the add cpu process */

.login-error{
    color: crimson
  }
  .spinner{

    margin-left: 45%;

  }

  #note{
      color: rgb(50, 50, 51);
      padding:15px;
      margin: 15px;
  }

  .message-in-text{
    font-family: '-apple-system',
    'BlinkMacSystemFont',
    '"Segoe UI"',
    'Roboto',
    '"Helvetica Neue"',
    'Arial',
    'sans-serif',
    '"Apple Color Emoji"',
    '"Segoe UI Emoji"',
    '"Segoe UI Symbol"',;
    color: rgb(50, 50, 51);

  }

  .card-content{
      padding: 15px;
      margin:15px;
      width: 100%;
  }
  #slide{
      height: 700px;
      padding: 10px;
  }